.menu__list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
}

.menu__list__containerIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 1rem 1rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  color: #000;
}

.menu__list__containerIcon:hover {
  background-color: #02bde3;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}

.menu__list__containerIcon > a {
  color: #000;
}

@media only screen and (max-width: 480px) {
  .menu__list__containerIcon {
    padding: 0.5rem 1rem;
    white-space: normal;
  }
}
