.container__raporB__main {
  display: flex;
  flex-direction: row;
}

.container__raporB {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;
}

.container__raporB__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3rem;
  background-color: #fff;
  padding: 3rem;
}

.raporB__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.raporB__btn__tambah {
  background-color: #02bde3;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.raporB__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.raporB__header > div > h1 {
  color: #02bde3;
  margin-bottom: 0.5rem;
}

.raporB__header > div > p {
  font-size: 1rem;
  font-weight: 600;
}

.raporB__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.raporB__data > p {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .raporB__header > div > p {
    font-size: 0.7rem;
  }
  .raporB__header > div > h1 {
    font-size: 1.5rem;
  }
  .container__raporB__content {
    padding: 1rem;
    margin: 2rem;
  }
  .raporB__btn__tambah {
    padding: 0.2rem 0.1rem;
  }
  .raporB__data > p {
    font-size: 12px;
  }
}
